header {
  background-color: #a8ccc3;
}
header .alinear {
  display: none;
}
header h1 {
  color: #646464;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
  padding-top: 0.5rem;
}
header nav .links:hover {
  color: aquamarine;
}
header nav .icono {
  border-color: aliceblue;
  color: aliceblue;
}
header .horizontal {
  display: none;
}
@media screen and (min-width: 768px) {
  header .vertical {
    display: none;
  }
  header .horizontal {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  header .alinear {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header h1 {
    font-size: 2.5rem;
  }
  header .horizontal {
    display: block;
  }
  header .vertical {
    display: none;
  }
}

.preguntas h2, .productos_pagindividual h2, .informacion div h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 1.7rem;
  color: #0f858d;
  margin-top: 4rem;
}

.informacion {
  text-align: center;
}
.informacion div p {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.1rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
}
@media screen and (min-width: 768px) {
  .informacion .informacion h2 {
    font-size: 2rem;
  }
  .informacion .informacion p {
    font-size: 1rem;
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 1200px) {
  .informacion .informacion {
    margin: 0 2rem 6rem 2rem;
  }
  .informacion .informacion p {
    font-size: 1rem;
    margin: 2rem 5rem 5rem 5rem;
  }
}

.productos1 .productos__bloque1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media screen and (min-width: 1200px) {
  .productos1 .productos__bloque1 {
    margin: 0 8rem 0 8rem;
  }
}
.productos1 .productos__bloque1 .productos__bloque-elemento {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  border: 0px;
  border-radius: 0%;
  font-family: "Noto Sans", sans-serif;
}
.productos1 .productos__bloque1 .productos__bloque-elemento:hover {
  background-color: #dceef0;
  font-weight: 700;
}

.boton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin: 4rem 0 5rem 0;
}
.boton a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: black;
  border: 0.1rem groove black;
  border-radius: 2px;
  padding: 0.5rem;
}
.boton a:hover {
  background-color: black;
  color: white;
}

.texto {
  margin: 4rem 1rem 4rem 1rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.1rem;
}
.texto p {
  padding-bottom: 2rem;
  line-height: 1.7rem;
}
@media screen and (min-width: 768px) {
  .texto {
    margin: 4rem 10rem 4rem 10rem;
  }
}
@media screen and (min-width: 1200px) {
  .texto {
    margin: 6rem 12rem 0 12rem;
  }
}

.productos_pagindividual {
  margin-bottom: 2rem;
}
.productos_pagindividual h2 {
  padding-bottom: 3rem;
}
.productos_pagindividual p {
  font-family: "Noto Sans", sans-serif;
}
.productos_pagindividual .productos__bloque {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.productos_pagindividual .productos__bloque .productos__bloque-elemento1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  transition: all 1s;
}
.productos_pagindividual .productos__bloque .productos__bloque-elemento1:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
  border-style: groove;
  background-color: #dceef0;
  font-weight: 500;
}

.preguntas h2 {
  padding-bottom: 1rem;
}
.preguntas h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: #0f858d;
  text-align: center;
  margin-top: 2rem;
}
.preguntas ul {
  list-style-type: none;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  text-align: left;
  padding-top: 1.5rem;
}
.preguntas ul li {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .preguntas ul li {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .preguntas ul li {
    padding-left: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .preguntas {
    margin: 0 15rem 0 10rem;
  }
}

.mas-sobre {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.mas-sobre .imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .mas-sobre .imagenes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 6rem 3rem 6rem;
    padding-top: 1rem;
  }
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario ul li {
  list-style-type: none;
  font-family: "Noto Sans", sans-serif;
  text-align: justify;
  color: #797979;
  margin-bottom: 1rem;
  border: 0.1rem;
  border-style: groove;
  border-radius: 2px;
  border-color: black;
}
.formulario .mensaje {
  padding: 1rem 20rem 1rem 1rem;
}
.formulario .mensaje-contacto {
  padding: 1rem 20rem 12rem 1rem;
}
@media screen and (min-width: 1200px) {
  .formulario .mensaje {
    padding: 1rem 35rem 1rem 1rem;
  }
  .formulario .mensaje-contacto {
    padding: 1rem 35rem 12rem 1rem;
  }
}

.informacion2 {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.informacion2 h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: #0f858d;
  margin-top: 3rem;
}
.informacion2 p {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.boton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin: 1rem 0 2rem 0;
}
.boton a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: black;
  border: 0.1rem groove black;
  border-radius: 1px;
  padding: 0.5rem;
}
.boton a:hover {
  background-color: black;
  color: white;
}

footer {
  background-color: black;
  color: white;
  padding: 1.3rem 0 1.5rem 0;
  justify-content: center;
}
footer h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
footer p {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
  color: #b6b6b6;
  margin: 0 0 1rem 0;
}
footer .footer__huellas {
  padding-left: 2rem;
}
footer div ul li {
  list-style-type: none;
}
footer div ul li a {
  text-decoration: none;
  color: #b6b6b6;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
}
footer div ul li a:hover {
  color: #0f858d;
}
footer .footer__redes {
  display: flex;
  padding-left: 2rem;
}
footer .footer__redes img {
  padding-right: 0.6rem;
}
@media screen and (min-width: 768px) {
  footer section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  footer .footer__huellas {
    padding-left: 0rem;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5rem;
  }
  footer ul li {
    padding-left: 2rem;
    padding-top: 0.8rem;
  }
  footer .links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.informacion div h2, .productos_pagindividual h2, .preguntas h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 1.7rem;
  color: #0f858d;
  margin-top: 4rem;
}

/*# sourceMappingURL=style.css.map */
